@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
:root{
	--fonte-titulo:"Funnel Display";
	--font-texto:"Funnel Display", "sans-serif";
	--cor-titulo:rgb(80,220,20);
	--fundo-titulo:rgb(0,0,0);
}

html {
    background-image: url(background.png);
    background-size: 5%;
    padding: 0px;
    scroll-behavior: smooth;
}
a:link{
    color:white;
}
a:visited{
    color: white;
}

.ahtml{
    color: #000000;
}
.header{
    position: sticky;
    display: table;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 70px;
    text-align: center;
	box-sizing: border-box;
	background-color: var(--fundo-titulo);
    font-family: var(--fonte-titulo);
	font-size: 300%;
	color: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 1em;
    background-image: url(com011.png);
    background-size: 20%;
    border-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
}
p {
    color: #000000;
    font-family: var(--font-texto);
    font-size: 17.5pt;
    line-height: 1.15;
    margin: 4pt;
}

h1 {
    color: #000000;
    font-family: var(--fonte-titulo);
    font-size: 40pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: var(--fonte-titulo);
    font-size: 24pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 10pt;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}
div.center {
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8pt;
    padding: 6pt;
    color: white;
    width: 50%;
    min-width: 488pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: auto;
}

div#carousel { 
    perspective: 1200px; 
    background: transparent; 
    padding-top: 10%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 40%; max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #000000; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }